@font-face {
  font-family: "FugazOne";
  src: url("../fonts/FugazOne-Regular.ttf");
}
/* line 1, ../sass/partials/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_layout.scss */
body, html {
  min-height: 100%;
}

/* line 2, ../sass/partials/_modules.scss */
.about-s2__col-left {
  background-image: url("../img/index/app_guide.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}

/* line 9, ../sass/partials/_modules.scss */
.comingsoon-s1 {
  background-image: url("../img/init/comingsoon.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}

/* line 15, ../sass/partials/_modules.scss */
.contact-s1 {
  background-image: url("../img/contact/s1.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}

/* line 22, ../sass/partials/_modules.scss */
.filter-brightness-7 {
  filter: brightness(0.7);
}

/* line 28, ../sass/partials/_modules.scss */
.index-s1__carousel-img {
  height: 100vh;
  max-height: 600px;
  width: 100%;
  object-fit: cover;
}
/* line 34, ../sass/partials/_modules.scss */
.index-s2 {
  background-image: url("../img/index/citymap.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}
/* line 38, ../sass/partials/_modules.scss */
.index-s4__col-left {
  background-image: url("../img/index/app_guide.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}

/* line 45, ../sass/partials/_modules.scss */
.minh-25vh {
  min-height: 25vh;
}
/* line 48, ../sass/partials/_modules.scss */
.minh-50vh {
  min-height: 50vh;
}
/* line 51, ../sass/partials/_modules.scss */
.minh-75vh {
  min-height: 75vh;
}
/* line 54, ../sass/partials/_modules.scss */
.minh-100vh {
  min-height: 100vh;
}

/* line 60, ../sass/partials/_modules.scss */
.opacity-7 {
  opacity: 0.7;
}
/* line 63, ../sass/partials/_modules.scss */
.opacity-8 {
  opacity: 0.8;
}
/* line 66, ../sass/partials/_modules.scss */
.opacity-9 {
  opacity: 0.9;
}

/* line 72, ../sass/partials/_modules.scss */
.text-shadow {
  text-shadow: 0 0 2px #222;
}

/* line 76, ../sass/partials/_modules.scss */
h1, h2, h3, h4, h5, h6, .nav-link {
  font-family: "FugazOne";
  letter-spacing: 1px;
}
