$blend__multiply: multiply;
$color__black: #222;

$img__coming-soon: "../img/init/comingsoon.jpg";
$img__contact-s1: "../img/contact/s1.jpg";
$img__index-s2-bg: "../img/index/citymap.jpg";
$img__index-s4-left-bg: "../img/index/app_guide.jpg";

$text-shadow: 0 0 2px $color__black;